/* CSS untuk logo dengan URL tertentu */
img[src="/img/logo.png"] {
  height: 100px; /* Tinggi logo sesuai atribut HTML */
  width: auto; /* Menjaga proporsi logo */
  display: block; /* Memastikan logo tampil sebagai elemen blok */
  margin: 50 30; /* Memusatkan logo secara horizontal */
}
